/* This is my 318 CONTACT PAGE using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- Hello, my name is Annali Jacobs and this is the beginning of my CONTACT PAGE CSS for 201 Digital Publishing November 2020 ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: url(images/tule_elk_preserve_bg.jpg) 
      center center fixed no-repeat;
    background-size: cover; 
}


.center {
    width: 80%; /* added this to make div responsive */
    max-width: 800px; 
	padding: 2%;
    margin: 110px auto;
    border-radius: 11px 11px; 
    text-align: center;
 	background: rgba(256, 256, 256, .55); /* this uses opacity of 55% for the background color */
	/* removed -- border: 4px dashed white; */
}

#logo {
    margin-bottom: 40px;
    margin-top: 10px; 
	text-align: center;
}

h1 {
	font-family: PT Sans, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-style: bold;
	font-size: 2.4em;
    letter-spacing: 0.80px;
    margin: 0px auto 10px auto;
    color: #00334d;
}

h2 {
	font-family: Lora Bold, serif;
    font-weight: 500;
    font-style: italic;
	font-size: 1.4em;
    line-height: 1.2;
    color: #00334d;
    padding: 0px 0px;
    margin: 0px auto 25px auto;
    letter-spacing: 0.2px;
}

p {
	font-family: Sans, sans-serif;
    font-weight: 500;
    font-style: normal;
	font-size: 1em;
    line-height: 1.6;
    letter-spacing: 0.2px;
    color: #004466;
    margin: 0px auto 10px auto;
    
/* paragraph fading in and out when page is first opened */
 animation: fadeIn ease 6s;
-webkit-animation: fadeIn ease 6s;
-moz-animation: fadeIn ease 6s;
-o-animation: fadeIn ease; 6s;
-ms-animation: fadeIn ease; 6s; 
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyfranes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

nav{
    font-family: Sans, sans-serif; 
    font-style: normal;
    font-size: 1.1em;
    width: 77%;
    margin: 0 auto;
    text-align: center;
    margin-top: 1em;
    }

/* all code below replaced demo styles - by Dominik Biedebach @domobch */
nav li{
    display: inline;
    }
nav a{
    display: inline-block;
    padding: 10px;
    }
nav ul {
  list-style: none;
  text-align: center;
    letter-spacing: 0.2px;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #004466;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 2.34s;
}
nav ul li a:hover {
  color:#404040;
}

/* adds line below links button */
nav ul li a{
    position: relative;  
}
nav ul li a:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #404040;
  height: 1.91px;
}
nav ul li a:hover:after {
  width: 75%;
}
nav.fill ul li a {
  transition: all 1s;
}
