/*CSS Document*/

h1{
	color: rgb(0, 86, 179);
	text-align: center;
	font-family: serif;
	font-size: 2.3em;
	margin: 0.5em 0em 0.4em 0em;
}

h2{
	color: rgb(0,51,102);
	text-align: center;
	font-family: serif;
	text-transform: uppercase;
	margin: 0em 0em 0.8em 0em;
}

h3{
	color: rgb(255,255,255);
	text-align: center;
	text-transform: lowercase;
	background-color: rgb(179,204,230);
}

ul{
	list-style: none;
	padding: 0em;
}

h4{
	color: rgb(0, 86, 179);
	font-family: sans-serif;
}

.fontcolor{
	color: rgb(0,51,102);
}


